<%- include('layouts/header'); -%>

<% if(typeof cart!=='undefined') {%>
   <table class="table table-striped">
    <tr>
        <th>Title</th>
        <th>fine</th>
        <th>Quantity</th>
        <th></th>   
        <th>Sub total</th>
    </tr>
    <% var total=0; %>
    <% cart.forEach(function(violation){ %>
    <% var sub=violation.qty * violation.fine %>
    <% total+=sub %>
     <tr>
         <td><%= violation.title %></td>
         <td>Rs.<%= violation.fine %></td>
         <td><%= violation.qty %></td>
         <td> 
             <a href="/cart/update/<%=violation.title %>?action=remove"> -- </a>&nbsp;
         </td>
         <td>Rs.<%= sub %></td>
     </tr>
    
    <% }); %>
    <tr>
        <td colspan="6" align="right"><b>Total:   </b>Rs.<%= total %></td>
    
            <td colspan="5" align="right">
                <a class="clearcart btn btn-danger" href="/cart/clear">Clear</a>    
            </td>
            <td colspan="4" align="right">
                <a class="btn btn-primary buynow" href="/cart/buynow">Paynow</a>    
            </td>
            
           
    </tr>
</table>

<%} else {%>
    <h3 class="text-center">Your cart is empty</h3>
<% } %>
<script>
    $(function(){
        $('a.clearcart').on('click',function(){
            if(!confirm('Confirm clear checkout page!!!'))
               return false;
        });
        $('a.buynow').on('click',function(){
            if(!confirm('Confirm buynow checkout page!!!'))
               return false;
        });
            
        })

</script>

<%- include('layouts/footer'); -%>